<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- For using launchd to run a daemon under OS X. -->
<!-- https://developer.apple.com/library/mac/documentation/MacOSX/Conceptual/BPSystemStartup/Chapters/ScheduledJobs.html -->
<plist version="1.0">
<dict>
	<key>Label</key>
    <string>com.codemelon.optbot.dailyupdate</string>
    <key>ProgramArguments</key>
    <array>
        <string>echo</string>
        <string>working</string>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/optbot/dailyupdate.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/optbot/dailyupdate.log</string>
    <key>StartInterval</key>
    <integer>15</integer>
</dict>
</plist>
